
  
<!--Header-->
<app-header></app-header>
<!--Fin Header-->
<!--intro-->
<app-intro></app-intro>
<!--Fin intro-->

  <main id="main">

    <!--About-->
    <app-about></app-about>
    <!--Fin About-->

    <!--services-->
    <router-outlet></router-outlet>
    
    <app-services></app-services>
    <!--Fin services-->

    <!--Why us-->
    <app-whyus></app-whyus>
    <!--Fin Why us-->

   <!-- Portfolio -->
   <app-portfolio></app-portfolio>
   <!-- Fin Portfolio -->

   <!-- Testimonios -->
   <app-testimonios></app-testimonios>
   <!-- Fin testimonios -->

  <!-- Team -->
  <app-team></app-team>
  <!--Fin Team -->
  
  <!-- Clientes -->
  <app-clientes></app-clientes>
  <!--Fin Clientes -->
  
  <!-- Contacto -->
  <app-contact></app-contact>
  <!--Fin Contacto -->
   

  </main>

  <!--Footer-->
  <app-footer></app-footer>
  <!--Fin Footer-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->




